<div  ng-cloak ng-init="init()">
    <div class="col-md-2"><%= link_to dashboard_path, class: 'btn-sm btn-default' do %>
        <strong><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back to todo list
            </strong>

        <% end %>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default contenteditable"  ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
            <h4 class="text-center">
                <strong>
                    <editabletask model="task.name" on-ready="taskNameEdited(task.name)" input-class="form-control"></editabletask>
                    <span><i ng-click="checkEdit()" ng-show="hoverEdit"  class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                </strong>
            </h4>
        </div>
        <div class="panel panel-success">
            <form id="new_task" ng-submit="addList(list.description)">
                <div class="input-group">
                    <input id ="description" class="form-control input-lg" autofocus="autofocus" type='text' placeholder="Create todo items" maxlength ='250' ng-model="listDescription" required>
            <span class="input-group-btn">
              <button class="btn btn-primary btn-lg" type="submit">Create </button>
            </span>
                </div>
            </form>
        </div>
        <div class="panel panel-body" ng-show="task.lists == 0">
            <ul class="list-group-edited list-unstyled">
                <li class="list-group-items-edited text-center"><strong>No Todo List created for this task</strong></li>
            </ul>
        </div>
        <div class="panel panel-body" ng-hide="task.lists == 0">
            <ul class="list-group-edited list-unstyled">
                <li class="list-unstyled list-edited" ng-repeat="list in task.lists ">
                    <strong  ng-class="{strike: list.status==true}">
                       <span>{{list.description}}</span>
                    </strong>
                    <em class="text-muted" ng-model="list.due_date" uib-datepicker-popup="{{format}}" is-open="openDatePickers[$index]" ng-change="updateDue_date_list(list)" datepicker-options="dateOptions"><strong>{{list.due_date| date:'dd.MM.yyyy' }}</strong></em>
                    <input type="checkbox" ng-model="list.status" ng-change="updateStatus_list(list, $index)">
                    <button class="btn btn-danger btn-xs pull-right fa fa-trash-o" type="button" ng-click="deleteList(list)"></button>
                    <button class="btn btn-default btn-xs pull-right fa fa-calendar" ng-click="open1($event, $index)"></button>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-2 text-right"></div>
</div>

