<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <p class="text-center"><span class="glyphicon glyphicon-copyright-mark"></span> SURAJ NEUPANE 2016</p>
    </div>
</div>